<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>On The Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08CF9A201C4F8F1900509669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08CF9A341C4F8F1900509669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08CF9A3F1C4F8F1900509669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
